{# vim: set filetype=jinja foldmethod=marker shiftwidth=2 : -#}
<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
  <title>Online Asymptote compiler — About</title>
</head>
<body>
  <h1>About this application</h1>
  <h2>Source code</h2>
    You can clone this application from its
    <a href="https://github.com/tifv/asyonline-heroku">GitHub page</a>.
  <h2>Save/Load</h2>
    When you compile (Ctrl+Enter), or when you hit «Save source» button,
    source code is embedded into URL, which you can copy/send/whatever.
    When this URL is opened another time or in another browser, source code
    is restored into the editor.
  <h1><a href="http://asymptote.sourceforge.net/">About Asymptote</a></h1>
</body>
</html>
